<button (click)="fetchData()">Click</button>
<button (click)="get401()">Get 401</button>
<button (click)="get403()">Get 403</button>
<button (click)="get404()">Get 404</button>
<button (click)="get503()">Get 503</button>
<div class="container mt-5 mb-5 mx-5 my-5" style="border: green; background-color: greenyellow;">

    <h3>Data component</h3>

    <div *ngIf="data">{{data | json }}</div>

</div>

<div class="container mt-5 mb-5 mx-5 my-5" style="border: rgb(128, 21, 0); background-color: rgb(231, 167, 124);">

    <h3>Error component</h3>

    <div *ngIf="error">{{error | json}}</div>

</div>